@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@font-face {
    font-family: 'Panthera';
    src: url('/Assets/Polices/PantheraRegular-MVZ9J.ttf');
}
@font-face {
    font-family: 'BEYNO';
    src: url('/Assets/Polices/BEYNO.ttf');
}
@font-face {
    font-family: 'Wakanda forever';
    src: url('/Assets/Polices/Wakanda4Ever-gxg5p.ttf');
}

@import "./base/base";

@import "./layout/footer";
@import "./layout/nav";

@import "./pages/index";
@import "./pages/enigme";
@import "./pages/wakanda";