@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@font-face {
    font-family: 'Panthera';
    src: url('/Assets/Polices/PantheraRegular-MVZ9J.ttf');
}
@font-face {
    font-family: 'BEYNO';
    src: url('/Assets/Polices/BEYNO.ttf');
}
@font-face {
    font-family: 'Wakanda forever';
    src: url('/Assets/Polices/Wakanda4Ever-gxg5p.ttf');
}
body {
    width: 95vw;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-image: url('/Assets/Illustrations+Logo/All-pages/arrière_plan.png');
    header {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.3vw 8vw;
            div {
                img {
                    width: 7vw;
                    cursor: pointer;
                }
                ul {
                    font-family: 'BEYNO';
                    font-size: 1vw;
                    list-style: none;
                    li {
                        color: #9e91b7;
                        display: inline-block;
                        margin-left: 3vw;
                        &.link-active {
                            text-decoration: underline;
                        }
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .titre {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: -1.2vw;
            .bloc {
                color: #fff;
                position: relative;
                left: 3.3vw;
                top: -2.6vw;
                h1 {
                    font-family: "Panthera";
                    font-size: 3vw;
                    letter-spacing: .3vw;
                    color: #9e91b7;
                    margin: 0;
                }
                h2 {
                    font-family: 'BEYNO';
                    font-size: 1.6vw;
                    font-weight: 100;
                    color: #9e91b7;
                    margin-top: .7vw;
                }
                p {
                    font-family: "Cantarell";
                    font-size: .8vw;
                    font-weight: 500;
                    line-height: 1.1vw;
                    text-shadow: .035vw .035vw #fff;
                }
                .lateral-out {
                    position: fixed;
                    width: 1.4vw;
                    left: 4.7vw;
                    top: 0;
                    z-index: 2;
                    .lateral-in1 {
                        width: 100%;
                        height: 17.5vw;
                        border-left: .25vw solid #9e91b7;
                        border-right: .25vw solid #9e91b7;
                    }
                    .lateral-in2 {
                        width: 100%;
                        height: 8.6vw;
                        padding-top: .6vw;
                        padding-left: .5vw;
                        border-left: .25vw solid #9e91b7;
                        img {
                            display: block;
                            width: 1.3vw;
                            padding-bottom: 1vw;
                            cursor: pointer;
                        }
                    }
                }
            }
            div {
                img {
                    width: 60vw;
                }
            }
        }
        .personnage {
            width: 91.5%;
            position: relative;
            right: -8.05vw;
            top: -4.5vw;
            background-color: #021740;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .text1 {
                width: 20.4vw;
                color: #fff;
                h3 {
                    margin-left: 1.8vw;
                    margin-bottom: .4vw;
                    font-family: "BEYNO";
                    font-size: 1.15vw;
                    color: #9e91b7;
                }
                p {
                    width: 16.6vw;
                    font-family: "Cantarell";
                    font-size: .678vw;
                    font-weight: 500;
                    line-height: 1.1vw;
                    text-align: justify;
                    text-shadow: .035vw .035vw #fff;
                    margin: auto;
                    margin-bottom: 3.5vw;
                    span {
                        text-decoration: underline;
                    }
                }
            }
            .pantherhome3 {
                width: 14.5vw;
            }
            .text2 {
                width: 20.4vw;
                color: #fff;
                h3 {
                    margin-left: 1.8vw;
                    margin-bottom: .4vw;
                    font-family: "BEYNO";
                    font-size: 1.15vw;
                    color: #9e91b7;               
                }
                p {
                    width: 16.6vw;
                    font-family: "Cantarell";
                    font-size: .678vw;
                    font-weight: 500;
                    line-height: 1.1vw;
                    text-align: justify;
                    text-shadow: .035vw .035vw #fff;
                    margin: auto;
                    margin-bottom: 3.5vw;
                    span {
                        text-decoration: underline;
                    }
                }
            }
            .pantherhome4 {
                width: 10.63vw;
            }
            .pantherhome2 {
                display: block;
                position: absolute;
                width: 19vw;
                left: 2vw;
                top: -2.5vw;
            }
        }
    }
    main {
        section {
            margin-top: 5vw;
            padding-bottom: 3.5vw;
            color: #fff;
            display: flex;
            .main-text {
                width: 39.441%;
                margin-left: 13.6646%;
                h3 {
                    font-family: "BEYNO";
                    font-size: 1.15vw;
                    color: #9e91b7;
                }
                p {
                    margin: 1.1vw 0;
                    text-align: justify;
                    font-size: .678vw;
                    line-height: 1.13vw;
                }
                .prince {
                    .p2 {
                        text-align: justify;
                        font-size: .679vw;
                        margin-bottom: 1.2vw;
                    }
                    .p3 {
                        text-align: justify;
                        font-size: .72vw;
                        margin-bottom: 1.5vw;
                    }
                }
                .vengeur {
                    .p4 {
                        text-align: justify;
                        font-size: .7vw;
                        margin-bottom: 1.5vw;
                    }
                    .p5 {
                        text-align: justify;
                        font-size: .678vw;
                    }
                    .p6 {
                        text-align: justify;
                        font-size: .69vw;
                        margin-bottom: 1.8vw;
                    }
                    .p7 {
                        text-align: justify;
                        font-size: .72vw;
                        margin-bottom: 1.8vw;
                    }
                }
                .justicier {
                    .p8 {
                        text-align: justify;
                        font-size: .72vw;
                    }
                }
            }
            .main-image {
                position: relative;
                width: 25.1638%;
                margin-left: 10.24%;
                margin-right: 11.4906%;
                .tchalla {
                    width: 100%;
                    height: 37vw;
                    background-color: #fff;
                    margin-top: 12vw;
                    padding-top: 13vw;
                    border-radius: .47vw;
                    -webkit-border-radius: .47vw;
                    -moz-border-radius: .47vw;
                    -ms-border-radius: .47vw;
                    -o-border-radius: .47vw;
                    .identite-tchalla {
                        width: 74%;
                        height: 18vw;
                        /*background-color: red;*/
                        margin: auto;
                        font-family: "Cantarell";
                        font-size: .83vw;
                        color: black;
                        h2 {
                            text-align: center;
                        }
                        div {
                            display: flex;
                            justify-content: space-between;
                            button {
                                display: block;
                                padding: .3vw .5vw;
                                font-size: .74vw;
                                background-color: rebeccapurple;
                                border: none;
                                color: #fff;
                                cursor: pointer;
                                border-radius: .3vw;
                                -webkit-border-radius: .3vw;
                                -moz-border-radius: .3vw;
                                -ms-border-radius: .3vw;
                                -o-border-radius: .3vw;
                            }
                        }
                        p {
                            margin: .29vw 0;
                            span {
                                font-weight: 700;
                                small {
                                    font-weight: normal;
                                }
                            }
                        }
                        .identite1 {
                            margin-top: 1.5vw;
                        }
                    }
                }
                .pantherhome5 {
                    width: 19.3vw;
                    display: block;
                    position: absolute;
                    top: -1.3vw;
                    left: 2.25vw;
                }
                .pantherhome6 {
                    width: 25vw;
                    display: block;
                    margin-top: 6vw;
                }
            }
        }
        .contact {
            position: relative;
            img {
                display: block;
                width: 100%;
            }
            .raccord {
                width: 100%;
                height: 10.5vw;
                position: absolute;
                top: 45vw;
                background-image: url('/Assets/Illustrations+Logo/All-pages/arrière_plan.png');
            }
            .formulaire {
                width: 50.5vw;
                height: 34vw;
                border-radius: 10vw;
                background-image: linear-gradient(180deg, rgba(242, 206, 242, 1) 10%, rgba(242, 206, 242, .1) 90%) ;
                position: absolute;
                top: 6.4vw;
                left: 22.3vw;
                -webkit-border-radius: 10vw;
                -moz-border-radius: 10vw;
                -ms-border-radius: 10vw;
                -o-border-radius: 10vw;
                form {
                    width: 51%;
                    margin-left: 13.7vw;
                    text-align: center;
                    font-family: "Cantarell";
                    .pfa {
                        margin-top: 3vw;
                        margin-bottom: 0vw;
                        font-size: .9vw;
                        font-weight: bold;
                    }
                    .pfb {
                        margin-top: 0vw;
                        margin-bottom: 1.5vw;
                        font-size: 2.4vw;
                        font-weight: bold;
                    }
                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        height: 2.8vw;
                        display: block;
                        margin: .5vw 0;
                        &::placeholder {
                            color: black;
                            padding-left: 1.6vw;
                            font-family: "Cantarell";
                            font-size: .8vw;
                        }
                    }
                    textarea {
                        width: 100%;
                        margin-top: .8vw;
                        color: black;
                        padding-left: 1.6vw;
                        font-family: "Cantarell";
                        font-size: .8vw;
                    }
                    textarea,
                    input[type="text"],
                    input[type="email"] {
                        border: 1px solid black;
                        background-color: transparent;
                        border-radius: 2vw;
                        -webkit-border-radius: 2vw;
                        -moz-border-radius: 2vw;
                        -ms-border-radius: 2vw;
                        -o-border-radius: 2vw;
                    }
                    input[type="submit"] {
                        font-size: .7vw;
                        font-weight: 800;
                        padding: .6vw 1.8vw;
                        margin-top: 1.1vw;
                        border: none;
                        cursor: pointer;
                        border-radius: 2vw;
                        -webkit-border-radius: 2vw;
                        -moz-border-radius: 2vw;
                        -ms-border-radius: 2vw;
                        -o-border-radius: 2vw;
                    }
                }
            }
        }
    }
    footer {
        background-image: url('/Assets/Illustrations+Logo/All-pages/back_footer.png');
        height: 38.6vw;
        display: flex;
        .a {
            width: 47.207%;
            padding-left: 21vw;
            padding-top: 15.1vw;
            position: relative;
            .footer1 {
                width: 16.3vw;
            }
            .footer2 {
                width: 7.5vw;
                position: absolute;
                right: 12vw;
                top: 23vw;
                cursor: pointer;
            }
        }
        .b {
            color: #fff;
            width: 52.795%;
            font-family: "Catarell";
            .c {
                height: 28.3vw;
                padding-top: 14.7vw;
                display: flex;
                .d {
                    width: 35%;
                    .p11 {
                        font-size: 1vw;
                        font-weight: 700;
                        letter-spacing: .4vw;
                        margin-bottom: 1.6vw;
                    }
                    .p12,
                    .p13 {
                        font-size: .8vw;
                        cursor: pointer;
                    }
                }
                .e {
                    width: 65%;
                    padding-left: 3vw;
                    .f {
                        font-size: 1vw;
                        font-weight: 700;
                        letter-spacing: .4vw;
                        p {
                            margin-bottom: 1.6vw; 
                        } 
                    }
                    .g {
                        img {
                            width: 2.7vw;
                            cursor: pointer;
                        }
                        .facebook {
                            margin-right: .56vw;
                        }
                        .tictok,
                        .twiter,
                        .instagram {
                            margin: 0 .56vw;
                        }
                    }
                }
            }
            .h {
                height: 10.3vw;
                padding-top: 1vw;
                font-size: .8vw;
            }
        }
        
    }
}