.wrapper {
    header {
    
    }
    main {
        .main-enigme {
            min-height: 50vw;
            /*background-image: url("/Assets/Illustrations+Logo/Enigme/Pantherenigme1.png");
            background-repeat: no-repeat;
            background-size: contain;*/
            img {
                display: block;
                width: 75vw;
                position: relative;
                top: -14.5vw;
                left: -3.3vw;
            }
           
        }
    }
}